	

	<div class="container padd">
		
		<div class="row">
			<div class="col-sm-4 user-selection">
				<%= select_tag "plants", options_from_collection_for_select(@plants, "id", "plant_name",params[:plant]),class: "form-control listboxChange",id: "lstBox1",prompt: "Select Plant" %>
				
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<%@material_requirements.each do |plant|%>
					<table class="table table-hover table-bordered">
						<caption class="caption"><%= plant.plant_name%> demand </caption>
					    <thead>
					      <tr>
					        <th>Item</th>
					        <th>Demand</th>
					        <th>Receipt</th>
					        <th>Inventry On Demand</th>
					        <th>UOM</th>
					        <th>Inventry Runout</th>

					      </tr>
					    </thead>
					    <tbody class="plant-body">
					    	<% plant.material_requirements.order('inventory_run_out_time desc').each do |mat| %>
						      <tr style="background-color: <%= mat.demand > (mat.receipts + mat.inv_on_hand) ? '#e85353' : ''%>">
						        <td><%= mat.item_code%></td>
						        <td><%= mat.demand%></td>
						        <td><%= mat.receipts%></td>
						        <td><%= mat.inv_on_hand%></td>
						        <td><%= mat.uom%></td>
						        <td><%= mat.inventory_run_out_time.strftime('%Y-%m-%d %I:%M:%I %p')%></td>


						      </tr>
					      	<% end %>
					    </tbody>
					  </table>
				<% end %>
			</div>
		</div>

	</div>
	
