	

	<div class="container padd">
		
		<div class="row">
		  <div class="col-sm-3 user-selection">
    		<label>Plants</label><br>
		    <%= select_tag "plants", options_from_collection_for_select(@plants.order(:plant_name), "id", "plant_name",@selected.map{|p| p.id}),class: "form-control selectbox material_requirements_plants_filter", multiple: true %>
		  </div>
		  <div class="col-sm-3">
		    <label>Order Date</label><br>
		    <%= date_select("filter_date","", :default => @fdate,class: 'material_requirements_date_filter')%>
		  </div>
		  <div class="col-sm-2">
		    <label>Item Type</label><br>
		    <%= select_tag "item_type_filter", options_from_collection_for_select(MaterialRequirement.select(:item_type).distinct, "item_type", "item_type",params[:item_type]),class: "material_requirements_item_type_filter",prompt: 'Select Plant Type' %>
		  </div>
		  <div class="col-sm-2">
		    <label for="only_red">Show Only Red</label><br>
		    <%= check_box_tag(:only_red, params[:only_red],params[:only_red]== 'true' ? true : false,class: 'material_requirements_only_red_filter') %>
		  </div>
		  <div class="col-sm-2">
		    <button id="filter_matirial_requiements" class="btn btn-success">Filter</button>
		  </div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
    			<p class="text-right">Last Refresh Time: <%= @last_refresh %></p>
				<%@material_requirements.each do |plant|%>
  					<div class="in-page-header">
  						<h4 class=""><%= plant.plant_name%> demand for <%= @fdate %></h4>
  					</div>
					<table class="table table-hover table-bordered">
						<thead>
					      <tr>
					        <th>Item</th>
					        <th>Demand</th>
					        <th>Receipt</th>
					        <th>Inventry On Demand</th>
					        <th>UOM</th>
					        <th>Inventry Runout</th>

					      </tr>
					    </thead>
					    <tbody class="plant-body">
					    	<% material_requirements = params[:item_type].blank? ? plant.material_requirements.where(order_date: @fdate) : plant.material_requirements.where(order_date: @fdate).where(item_type: params[:item_type])
				            %>
				            <% material_requirements.order('inventory_run_out_time').each do |mat| %>
				              <% out_of_stock = mat.demand > (mat.receipts + mat.inv_on_hand) %>
				              <tr class="<%= params[:only_red]== 'true' ? (out_of_stock ? '' : 'hidden') : ''%>" style="background-color: <%=  out_of_stock ? '#e85353' : ''%>">
                		        <td><%= mat.item_code%></td>
						        <td><%= mat.demand%></td>
						        <td><%= mat.receipts%></td>
						        <td><%= mat.inv_on_hand%></td>
						        <td><%= mat.uom%></td>
						        <td><%= mat.inventory_run_out_time.strftime('%Y-%m-%d %I:%M:%I %p')%></td>


						      </tr>
					      	<% end %>
					    </tbody>
					  </table>
				<% end %>
			</div>
		</div>

	</div>
	
