<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Effective Start Date: <%= @user.effective_start_date if @user.effective_start_date %></p>
<p>Effective End Date: <%= @user.effective_end_date if @user.effective_end_date %></p>
<p>Admin: <%= @user.admin %></p>
<p>Password: <%= @user.password %></p>
