<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Region name</th>
      <th>Plant code</th>
      <th>Plant name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.region_name %></td>
        <td><%= plant.plant_code %></td>
        <td><%= plant.plant_name %></td>
        <td><%= plant.Active %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
