<p id="notice"><%= notice %></p>

<p>
  <strong>Region name:</strong>
  <%= @plant.region_name %>
</p>

<p>
  <strong>Plant code:</strong>
  <%= @plant.plant_code %>
</p>

<p>
  <strong>Plant name:</strong>
  <%= @plant.plant_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @plant.Active %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
